@model IEnumerable<easyjob22.Models.Incapacidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivoSoporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdusuariosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArchivoSoporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdusuariosNavigation.Idusuarios)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdIncapacidad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdIncapacidad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIncapacidad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
